/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 /*= require foundation */
 *= require_self
 
 */
 
  html,body{
    height:100%
  }

  a{
    color:#000000; 
  }
  
  a:hover{
    color:#6ACEB6;
  }
  
  .fill-height
  {
    min-height:95%;
    height:auto !important;
  }
  
  div.container
  {
    max-width: 960px;
    margin-left: 30px;
    margin-right: 30px;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  @media only screen 
  and (min-width : 960px) {

    div.container
    {
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
  .main-bar
  {
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }


  
  @media only screen
  and (max-width : 640px) {

    .main-bar
    {
      display: inline-block;
      text-align: center;
      padding-bottom: 7px;
      padding-top: 7px;
      margin-left: auto;
      margin-right: auto;
      width: 150px;
    }
    
  }
  
  @media only screen
  and (max-width : 460px) {

    .main-bar
    {
      display: block;
      text-align: center;
      padding-bottom: 7px;
      padding-top: 7px;
      margin-left: auto;
      margin-right: auto;
      width:auto;
    }
    
    .for-small-only-hide-cell
    {
      display: none !important;
    }
    
  }
  
  div.center
  {
    margin-left:auto;
    margin-right:auto;
    
    /*Center-aligning has no effect if the width is 100%.*/
  }

  img.center
  {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  img.go-left
  {
    display:block;
    margin-right:auto;
  }
	
  img.go-right
  {
    display:block;
    margin-left:auto;
  }
  
	.color-pink-pink
	{
		color:#FF7BAC !important;
	}
	
	.color-black
	{
		color:#000000 !important;
	}
	
	.color-white
	{
		color:#FFFFFF !important;
	}
	
  .color-orange
	{
		color: #FF816C !important;
	}

  .color-turquoise
	{
		color: #6ACEB6 !important;
	}
  
	.bg-color-grey
	{
		background-color: rgb(183,182,182) !important;
	}

  .bg-color-light-grey
  {
    background-color: #F7F7F7 !important;
  }
  
	.bg-color-pink
	{
		background-color: rgb(221,158,167) !important;
	}

  .bg-color-orange
	{
		background-color: #FF816C !important;
	}

  .bg-color-turquoise
	{
		background-color: #6ACEB6 !important;
	}
  
	.bg-color-black
	{
		background-color: black;
	}
	
	.bg-color-black
	{
		background-color:#000000 !important;
	}
	
	.bg-color-black-opaque-10
	{
		background: rgba(0, 0, 0, 0.9);
	}
	
	.bg-color-white
	{
		background-color:#FFFFFF !important;
	}
	
	.no-max-width
	{
		max-width: none !important;
	}
	
	.line
	{
    height:1px;
		background-color:#000000;
	}
  
  .line-large
	{
	  width:100%;
    height:5px;
		height:0.4rem;
		background-color:#000000;
		display:block;
	}
  
	.small-black-box
	{
		width:26px;
		height:26px;
		background-color:#000000;
		display:inline-block;
		border: rgb(191, 191, 191) 1px;
		border-style: solid;
	}
	
  p.bottom-margin-small
  {
    margin-bottom: 2px;
    margin-bottom: 0.2rem;
  }
  
  
	/*Font List
	(make sure the sizes are big/small enough in relation to the size of the logo.)
	*/
	
	.font-century-gothic
	{
		font-family:Century Gothic;
		/*All text in the header
		Menu bar
		(# of items in the shopping bag)*/
	}

	.font-avnir-book-oblique
	{
		font-family:Avnir Book Oblique;
		/*Shopping Bag*/
	}
	
	.font-century-schoolbook
	{
		font-family:Century Schoolbook;
		/*Product name*/
	}
	
	.font-calibri
	{
		font-family:Calibri;
		/*Product description
		Home / Category*/
	}
	
	.font-calibri-italic
	{
		font-family:Calibri Italic;
		/*You May Also Like
		Recently Viewed Items*/
	}
	
	.font-ligth-up-the-world
	{
		font-family:Light up the world; 
		/*Add to bag
		Save to box*/
	}
	
	.bold
	{
		font-weight:800 !important;
	}
	
	.italic
	{
		font-style:italic !important;
	}
	
	.letter-space
	{
		letter-spacing: 3px;
		letter-spacing: 0.17rem;
	}
	
	.padding-top-small
	{
		padding-top:0.2rem;
	}
	
	.padding-bottom-small
	{
		padding-bottom:0.2rem;
	}
	
	.font-size-10
	{
		font-size:10px;
	}
	
  .font-size-14
	{
		font-size:14px;
	}
  
  .font-size-18
	{
		font-size:18px;
	}
  
	.logo
	{
		height:6rem;
	}
 	

	::-webkit-input-placeholder {
	   color: #CACACC;
	   font-family:Century Gothic;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #CACACC;
	   font-family:Century Gothic;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #CACACC;
	   font-family:Century Gothic;
	}

	:-ms-input-placeholder {  
	   color: #CACACC;
	   font-family:Century Gothic;
	}
 
	.height-small
	{
		height: 1.6rem !important;
	}

	input[type="checkbox"],
	input[type="radio"]
	{
		/*Aligns the input elements correct to the text.*/
		margin: 0 0 0 0 !important;
		vertical-align: middle !important;
	}
  
  input.round
  {
    border-radius:100px;
  }
  
  .text-center
  {
    text-align:center;
  }
  
  .footer-title
  {
    font-size: 18px;
    font-weight: 800;
    color: #FFFFFF;
    margin-top:20px;
    margin-bottom:10px;
    font-family:Century Gothic;
  }
  
  .footer-item
  {
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom:6px;
    font-family:Century Gothic;
  }
  