/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */
 
/*= require foundation */

.responsive-hide
	{
	}

	@media only screen and (max-width: 1000px)
	{
		.responsive-hide{
			display: none;
		}
	}

	.responsive-show
	{
		display: none;
	}

	@media only screen and (max-width: 1000px)
	{
		.responsive-show{
			display: block;
		}
	}
	
	.color-pink-pink
	{
		color:#FF7BAC !important;
	}
	
	.color-black
	{
		color:#000000 !important;
	}
	
	.color-white
	{
		color:#FFFFFF !important;
	}
	
	.bg-color-grey
	{
		background-color: rgb(183,182,182) !important;
	}

	.bg-color-pink
	{
		background-color: rgb(221,158,167) !important;
	}
	.bg-color-black
	{
		background-color: black;
	}
	
	.bg-color-black
	{
		background-color:#000000 !important;
	}
	
	.bg-color-black-opaque-10
	{
		background-color:#000000 !important;
	}
	
	.bg-color-white
	{
		background-color:#FFFFFF !important;
	}
	
	
	.no-max-width
	{
		max-width: none !important;
	}
	
	.text-right
	{
		text-align: right;
	}
	
	.text-center
	{
		text-align: center;
	}
	
	.line
	{
	    width:100%;
		height:0.2rem;
		background-color:#000000;
		display:block;
		border: rgb(191, 191, 191) 0.1rem;
		border-style: solid;
	}
	
	.small-black-box
	{
		width:26px;
		height:26px;
		background-color:#000000;
		display:inline-block;
		border: rgb(191, 191, 191) 1px;
		border-style: solid;
	}
	
	/*Font List
	(make sure the sizes are big/small enough in relation to the size of the logo.)
	*/
	
	.font-century-gothic
	{
		font-family:Century Gothic;
		/*All text in the header
		Menu bar
		(# of items in the shopping bag)*/
	}

	.font-avnir-book-oblique
	{
		font-family:Avnir Book Oblique;
		/*Shopping Bag*/
	}
	
	.font-century-schoolbook
	{
		font-family:Century Schoolbook;
		/*Product name*/
	}
	
	.font-calibri
	{
		font-family:Calibri;
		/*Product description
		Home / Category*/
	}
	
	.font-calibri-italic
	{
		font-family:Calibri Italic;
		/*You May Also Like
		Recently Viewed Items*/
	}
	
	.font-ligth-up-the-world
	{
		font-family:Light up the world; 
		/*Add to bag
		Save to box*/
	}
	
	.bold
	{
		font-weight:800 !important;
	}
	
	.italic
	{
		font-style:italic !important;
	}
	
	.letter-space
	{
		letter-spacing: 3px;
		letter-spacing: 0.17rem;
	}
	
	.padding-top-small
	{
		padding-top:0.2rem;
	}
	
	.padding-bottom-small
	{
		padding-bottom:0.2rem;
	}
	
	.font-size-10
	{
		font-size:10px;
	}
	
	.logo
	{
		height:6rem;
	}
 	

	::-webkit-input-placeholder {
	   color: #CACACC;
	   font-family:Century Gothic;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #CACACC;
	   font-family:Century Gothic;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #CACACC;
	   font-family:Century Gothic;
	}

	:-ms-input-placeholder {  
	   color: #CACACC;
	   font-family:Century Gothic;
	}
 
	.height-small
	{
		height: 1.6rem !important;
	}

